# directory for all relative, transitive mountpoints
mountdir: /tmp/media/{{ .chezmoi.username }}
verbose: false

devices:
{{- if eq .features.rofi_alias "laptop" -}}
{{- $mntdata := "/mnt/data" -}}
{{- $crypt := $mntdata | printf "%s/Documents/.crypt" }}
  gnupg:
    type: veracrypt
    mount:
      mountpoint: {{ .paths.config }}/gnupg
    volume: {{ $crypt }}/gnupg
    password:
      bitwarden:
        key: Veracrypt (gpg)
  ssh:
    type: veracrypt
    mount:
      mountpoint: {{ .chezmoi.homeDir }}/.ssh
      label: ssh
    volume: {{ $crypt }}/ssh-config
    password:
      bitwarden:
        key: Veracrypt (ssh)
  ebm_snakemake:
    type: sshfs
    mount:
      mountpoint: ebm_snakemake
      label: EBM
    remote: nisaba:/aigenomics/EBM_dev/snakemake
    depends:
      - ssh
  accounts:
    type: veracrypt
    mount:
      mountpoint: accounts
    volume: {{ $crypt }}/accounts
    password:
      bitwarden:
        key: Veracrypt (accounts)
  ansible_pki:
    type: veracrypt
    mount:
      mountpoint: ansible-pki
    volume: {{ $crypt }}/ansible
    password:
      bitwarden:
        key: Veracrypt (Ansible PKI)
  call_logs:
    type: veracrypt
    mount:
      mountpoint: call-logs
    volume: {{ $crypt }}/call_logs
    password:
      bitwarden:
        key: Veracrypt (ACR)
  music:
    type: sshfs
    mount:
      mountpoint: {{ $mntdata }}/Music
    remote: portnoy4prez:/mnt/data/home/Music
    depends:
      - ssh
  videos:
    type: sshfs
    mount:
      mountpoint: {{ $mntdata }}/Videos
    remote: portnoy4prez:/mnt/data/home/Videos
    depends:
      - ssh
{{ end -}}