diff:
  args: --color
  pager: less -r

{{- $desktop := promptBool "desktop" false }}
{{- $laptop := and $desktop (promptBool "laptop" false) }}
{{- $emacs := and $desktop (promptBool "emacs" true) }}
data:
  desktop: {{ $desktop }}
  laptop:  {{ $laptop }}
  features:
    ansible: {{ and $desktop (promptBool "ansible" true) }}
    clevo: {{ and $laptop (promptBool "clevo keyboard" false) }}
    optimus: {{ and $laptop (promptBool "optimus" false) }}
    virtualbox: {{ and $desktop (promptBool "virtualbox" false) }}
    xsane: {{ and $desktop (promptBool "xsane" false) }}
    f5vpn: {{ and $desktop (promptBool "f5vpn" false) }}
    seafile: {{ and $desktop (promptBool "seafile" false) }}
  development:
{{- /* emacs implies that most development options are true */}}
    emacs: {{ $emacs }}
    ruby: {{ or $emacs promptBool "ruby development" true }}
    python: {{ or $emacs promptBool "python development" true }}
    rust: {{ or $emacs promptBool "rust development" true }}
    clojure: {{ or $emacs promptBool "clojure development" true }}
    latex: {{ or $emacs promptBool "LaTeX development" true }}
    r: {{ or $emacs promptBool "R development" true }}
    conda: {{ or $emacs promptBool "conda" true }}
{{- /* these aren't implied by emacs */}}
    matlab: {{ or $emacs promptBool "MATLAB development" true }}
    github: {{ promptBool "GitHub development" true }}
