# path (include ~/.bin and ~/.local/bin)
PATH OVERRIDE={{ .chezmoi.homeDir }}/.bin:{{ .chezmoi.homeDir }}/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin

# default directories
XDG_CONFIG_HOME         DEFAULT={{ .chezmoi.homeDir }}/.config
XDG_CACHE_HOME          DEFAULT={{ .chezmoi.homeDir }}/.cache
XDG_DATA_HOME           DEFAULT={{ .chezmoi.homeDir }}/.local/share
XDG_RUNTIME_DIR         DEFAULT=/run/user/{{ output "id" "-u" | trim }}

# super common tools
PAGER                   DEFAULT=less
INPUTRC                 DEFAULT=${XDG_CONFIG_HOME}/readline/inputrc
LESSKEY                 DEFAULT=${XDG_CONFIG_HOME}/less/lesskey
LESSHISTFILE            DEFAULT=-
GNUPGHOME               DEFAULT=${XDG_CONFIG_HOME}/gnupg
EDITOR                  DEFAULT=vim

# AWS (all will suffer...)
AWS_SHARED_CREDENTIALS_FILE DEFAULT=${XDG_CONFIG_HOME}/aws/credentials
AWS_CONFIG_FILE         DEFAULT=${XDG_CONFIG_HOME}/aws/config

# cache compiled bits; highly recommended for makepkg
CCACHE_CONFIGPATH       DEFAULT=${XDG_CONFIG_HOME}/ccache.config
CCACHE_DIR              DEFAULT=${XDG_CACHE_HOME}/ccache

# REPL stuff
NODE_REPL_HISTORY       DEFAULT=${XDG_DATA_HOME}/npm/node_repl.log
PYTHONSTARTUP           DEFAULT=${XDG_CONFIG_HOME}/python/startup.py

# shell stuff
HISTFILE                DEFAULT=${XDG_DATA_HOME}/zsh_history.log
HISTSIZE                DEFAULT=1000000
SAVEHIST                DEFAULT=1000000
ZDOTDIR                 DEFAULT=${XDG_CONFIG_HOME}/zsh

# X11 forwarding (required even without a full X11 server)
ICEAUTHORITY            DEFAULT=${XDG_CACHE_DIR}/ICEauthority
XAUTHORITY              DEFAULT=${XDG_RUNTIME_DIR}/Xauthority

{{ if .features.ansible -}}
# ansible
ANSIBLE_VAULT_PASSWORD_FILE 	DEFAULT=@{HOME}/.bin/ansible-vault-pass-client
ANSIBLE_VAULT_IDENTITY	DEFAULT=ansible/vault
{{- end }}

{{ if .development.emacs -}}
# emacs
MU_HOME                 DEFAULT=${XDG_CACHE_HOME}/mu
MAILDIR                 DEFAULT=/mnt/data/Mail
ASPELL_CONF             DEFAULT="per-conf ${XDG_CONFIG_HOME}/aspell/aspell.conf; personal ${XDG_CONFIG_HOME}/aspell/en.pws; repl ${XDG_CONFIG_HOME}/aspell/en.prepl"
{{- end }}

{{ if .development.ruby -}}
# ruby development
RBENV_ROOT              DEFAULT=${XDG_DATA_HOME}/rbenv
BUNDLE_USER_CONFIG      DEFAULT=${XDG_CONFIG_HOME}/bundle
BUNDLE_USER_CACHE       DEFAULT=${XDG_CACHE_HOME}/bundle
BUNDLE_USER_PLUGIN      DEFAULT=${XDG_DATA_HOME}/bundle
GEM_HOME                DEFAULT=${XDG_DATA_HOME}/gem
GEM_SPEC_CACHE          DEFAULT=${XDG_CACHE_HOME}/gem
{{- end }}

{{ if .development.rust -}}
# rust development
CARGO_HOME              DEFAULT=${XDG_DATA_HOME}/cargo
{{- end }}

{{ if .development.clojure -}}
# clojure development
LEIN_HOME               DEFAULT=${XDG_DATA_HOME}/lein
{{- end }}

{{ if .development.matlab -}}
# matlab development (if I must...)
MATLAB_PREFDIR          DEFAULT=${XDG_CONFIG_HOME}/matlab
MATLAB_LOG_DIR          DEFAULT=${XDG_DATA_HOME}/matlab/log
# required for matlab's silly GUI to work with xmonad
_JAVA_AWT_WM_NONREPARENTING DEFAULT=1
{{- end }}

{{ if .development.r -}}
# R development
R_ENVIRON_USER          DEFAULT=${XDG_CONFIG_HOME}/r/Renviron
{{- end }}

{{ if .development.latex -}}
# LaTeX writing...I mean...development
TEXMFHOME               DEFAULT=${XDG_CONFIG_HOME}/texmf
{{- end }}

{{ if .development.github -}}
# Github development (for READMEs)
GRIPHOME                DEFAULT=${XDG_CONFIG_HOME}/grip
{{- end }}

{{ if .development.conda -}}
# conda development
CONDARC                 DEFAULT=${XDG_CONFIG_HOME}/conda/condarc
{{- end }}

{{ if .development.python -}}
# python development
IPYTHONDIR              DEFAULT=${XDG_CONFIG_HOME}/ipython
PYLINTHOME              DEFAULT=${XDG_CACHE_HOME}/pylint
PYENV_ROOT              DEFAULT=${XDG_DATA_HOME}/pyenv
{{- end }}

{{ if .desktop -}}
# gnucash
AQBANKING_HOME          DEFAULT=${XDG_CONFIG_HOME}/aqbanking

# seafile
CCNET_CONF_DIR          DEFAULT=${XDG_CONFIG_HOME}/ccnet

# gtk2
GTK2_RC_FILES           DEFAULT=${XDG_CONFIG_HOME}/gtk-2.0/gtkrc

# xft fonts
GDK_USE_XFT             DEFAULT=1
QT_XFT                  DEFAULT=true

# QT (which should look like gtk)
QT_QPA_PLATFORMTHEME    DEFAULT=qt5ct

# libreoffice?
SAL_USE_VCLPLUGIN       DEFAULT=gtk

# store passwords in gnupg directory (which is then encrypted)
PASSWORD_STORE_DIR      DEFAULT=${GNUPGHOME}/pass

# X11
XINITRC                 DEFAULT=${XDG_CONFIG_HOME}/X11/xinitrc

# xmonad (and haskell)
STACK_ROOT              DEFAULT=${XDG_DATA_HOME}/stack
XMONAD_CACHE_DIR        DEFAULT=${XDG_CACHE_HOME}/xmonad
XMONAD_CONFIG_DIR       DEFAULT=${XDG_CONFIG_HOME}/xmonad
XMONAD_DATA_DIR         DEFAULT=${XDG_DATA_HOME}/xmonad
{{- end }}