#! /bin/bash

# Build any binaries in necessary for my config to run at full capacity.

# ASSUME that stack is installed and that all repos with build scripts
# referenced here are already cloned.

run_stack_in_dir () {
    local cur
    cur="$(pwd)"
    cd "$1" || return 1
    echo "building binaries in $1"
    stack install
    cd "$cur" || return 1
}

export STACK_ROOT={{ .paths.stack }}

run_stack_in_dir ~/.config/rofi-extras \
                 :current-output \
                 :pinentry-rofi \
                 :rofi-autorandr \
                 :rofi-bt \
                 :rofi-bw \
                 :rofi-dev
{{ if .features.vpn -}}
run_stack_in_dir ~/.config/rofi-extras :rofi-evpn
{{- end }}

run_stack_in_dir ~/.config/xmonad

run_stack_in_dir ~/.config/xman

{{ if ne .features.conky_alias "none" -}}
## ASSUME luarocks is installed
~/.config/conky/install_rocks
{{- end }}
