#! /bin/bash

feh --no-fehbg --bg-scale --bg-fill "$XDG_DATA_HOME/backgrounds/moon_forest.jpg" &

{{ if ne .features.conky_alias "none" -}}
killall conky > /dev/null 2>&1
conky -d > /dev/null 2>&1
{{- end }}
