Config {
 maxHistoryLength = 100000,
 historyPath = "{{ .paths.cache }}/greenclip.history",
 staticHistoryPath = "{{ .paths.cache }}/greenclip.staticHistory",
 imageCachePath = "/tmp/greenclip/",
 usePrimarySelectionAsInput = False,
 blacklistedApps = [],
 trimSpaceFromSelection = True,
 enableImageSupport = True
}
