loglevel: Debug
features:
  optimus: {{ .features.optimus }}
  vpn: true
  bluetooth: true
  intel_backlight: {{ .laptop }}
  clevo_backlight: {{ .features.clevo }}
  wireless: {{ .laptop }}
  virtualbox: {{ .features.virtualbox }}
  xsane: {{ .features.xsane }}
  battery: {{ .laptop }}
  f5vpn: {{ .features.f5vpn }}
